@import "reset.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --brown: #47353a;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  /* font-size: 62.5%; */
  font-size: 16px;
  line-height: 1.5;
  color: var(--brown);
}

/* HEADER */

header {
  padding: 10px 16px;
  overflow: hidden;
}
header h1 {
  float: left;
}

header nav {
  float: right;
  margin-top: 4px;
}

header nav a {
  color: var(--brown);
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 12px;
}

/* HERO SECTION */

.hero {
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-position: right center;
  height: 100vh;
}
