@import "reset.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --brown: #47353a;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  font-size: 62.5%;
  /* font-size: 16px; */
  line-height: 1.5;
  color: var(--brown);
}

/* HEADER */

header {
  padding: 10px 16px;
  overflow: hidden;
}
header h1 {
  float: left;
}

header nav {
  float: right;
  margin-top: 8px;
}

header nav a {
  color: var(--brown);
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 12px;
}

/* HERO SECTION */

.hero {
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-position: right center;
  height: 100vh;
  /* padding-top: 200px; */
}

.hero div {
  position: absolute;
  /* padding: 0 20px; */
  max-width: 1440px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.225em;
  text-align: center;
}

/* .hero::after {
  z-index: 99;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  background-color: black;
} */

.hero h2 {
  font-family: David Libre;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
}

.flowers {
  overflow: hidden;
}
.flowers img {
  float: left;
  width: 33.333%;
}

/* QUOTES */
.quotes {
  overflow: hidden;
}
.quotes div {
  width: 50%;
  float: left;
  text-align: center;
  padding: 50px 20px;
  /* background-color: pink; */
}
.quotes img {
  width: 75px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.quotes div:nth-child(1) {
  background-color: #f7f1ee;
}

.quotes blockquote {
  font-family: David Libre;
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.15;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.chair {
  background-image: url(/assets/full-bleed.jpg);
  background-position: center center;
}
